/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  font-size: larger;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  border: 20px solid maroon;
}